<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>뉴스 작성</title>
</head>
<body>
<form class="container" th:action="@{/newsmain/create}" method="post">
    <div>
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" th:value="${news.title}" placeholder="제목을 입력하세요">
    </div>
    <div>
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content" th:text="${news.content}" placeholder="내용을 입력하세요"></textarea>
    </div>
    <div>
        <label class="form-label">작성자</label>
        <input type="text" class="form-control" name="writer" th:value="${news.writer}" placeholder="작성자를 입력하세요">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/newsmain}" class="btn btn-secondary">Back</a>
</form>
</body>
</html>
