<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>뉴스 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<form class="container" action="/newsmain" method="get">
  <h1>뉴스 페이지</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="news : ${newsList}">
      <th scope="row" th:text="${news.id}"></th>

      <!-- 제목 클릭 시 해당 뉴스의 수정 페이지로 이동 -->
      <td><a th:href="@{/newsmain/{id}/edit(id=${news.id})}" th:text="${news.title}"></a></td>

      <!-- 작성자 클릭 시 해당 뉴스의 수정 페이지로 이동 -->
      <td><a th:href="@{/newsmain/{id}/edit(id=${news.id})}" th:text="${news.writer}"></a></td>

      <td th:text="${news.writedate}"></td> <!-- 작성일 -->
      <td th:text="${news.cnt}"></td> <!-- 조회수 -->
    </tr>
    </tbody>
  </table>

  <a href="/newsmain/create" class="btn btn-primary">News Create</a>
</form>
</body>
</html>
