<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>
	<body>
    <h2>컴포넌트의 라이프사이클</h2>
    <div id="app">
			<myb v-if="myVisible">{{message}}</myb>
      <hr>
      <input type="checkbox" v-model="myVisible">버튼 ONOFF
    </div>
    <script>
      const {createApp} = Vue;

      const MyButton = {             // 마이버튼 컴포넌트 라이프사이클 훅
				template: '<button><slot></slot></button>',		
        beforeCreate() {          
          console.log('[MyButton] beforeCreate() 호출!')
        },
        created() {
          console.log('[MyButton] created() 호출!')
        },
        beforeMount() {
          console.log('[MyButton] beforeMount() 호출!')
        },
        mounted() {          
          console.log('[MyButton] mounted() 호출!')
        },
        beforeUpdate() {          
          console.log('[MyButton] beforeUpdate() 호출!')
        },
        updated() {
          console.log('[MyButton] updated() 호출!')
        },
        beforeUnmount() {         
          console.log('[MyButton] beforeUnmount() 호출!')
        },
        unmounted() {
          console.log('[MyButton] unmounted() 호출!')
        }       
			}
			createApp({ //vue 인스턴스
				data() {
					return { 
						message : '둘리',myVisible: true   // vue 객체를 바꿀러면 .bind(this)에서 바꿔야함
					}
				},
				components: {
					'myb': MyButton
				},
        beforeCreate() {
          console.log('beforeCreate() 호출!', this.message)
        },
        created() {
          console.log('created() 호출!', this.message)
        },
        beforeMount() {        
          console.log('beforeMount() 호출!', this.$el) //$가 붙으면 undifind가 나옴
          setTimeout(function () {
            console.log("5초 지나감... Vue 데이터 변경~~~~~~~~");
            this.message = "도우너";      //this가 window 객체 비동기처리할 때는 this 사용 신중히
          }.bind(this), 5000);         // .bind(this) vue 객체 this
        },
        mounted() {       
          console.log('mounted() 호출!', this.$el) //$ 가 붙으면 내장함수이고 컨테이너 안에 있는 dom객체를 참조함
        },
        beforeUpdate() {
          console.log('beforeUpdate() 호출!')
        },
        updated() {
          console.log('updated() 호출!')
        },
        beforeUnmount() {        
          console.log('beforeUnmount() 호출!')
        },
        unmounted() {      
          console.log('unmounted() 호출!')
        }
			}).mount('#app');
    </script>
    
  </body>
</html>